@model Ordersystem.DataObjects.Category



    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-black py-2">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                @* <div asp-validation-summary="All"></div> to display summer on the top if used single validation use asp-validation-for*@
            <div asp-validation-summary="All"></div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="CategoryName" class="form-control border-0" />
                    <label asp-for="CategoryName" class="ms-2"></label>
                    @* error message shown on the client side *@
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                 @* by adding class row we can make it responsive, col-md-3 it will take 6 column *@
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back to the list
                        </a>
                    </div>
                </div>

            </div>

        </form>
    </div>




@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
     }
}