@model Ordersystem.DataObjects.Message

<div class="card border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                @{
                    string messageType = string.Empty;
                    if (Model.Type == MessageType.ImportantAnnouncement)
                    {
                        messageType = "Important Announcement";
                    }
                    else if (Model.Type == MessageType.StatusMessage)
                    {
                        messageType = "Status Message";
                    }
                }
                <h2 class="text-black py-2">@messageType</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="@Model.MessageID" hidden />
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">
                        <div class="py-2 col-12">
                            <label asp-for="Title" class="ms-2"></label>
                            <input asp-for="Title" disabled class="form-control" type="text" placeholder="Title input" />

                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Content" class="ms-2 text-muted"></label>
                            <textarea asp-for="Content" disabled class="form-control"></textarea>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Date" class="ms-2"></label>
                            <input asp-for="Date" disabled class="form-control" />

                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>

                        <div class="row pt-2">
                            <div class="col-6 col-md-4">
                                <a asp-controller="MessageEmployee" asp-action="Index" class="btn btn-outline-primary border form-control">
                                    Back to the message board
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
            readonly: true
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

