@model Ordersystem.DataObjects.Message

<div class="card border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-black py-2">@(Model.MessageID != 0 ? "Update" : "Create") Message</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        @* add enctype="multipart/form-data" for file upload *@
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="@Model.MessageID" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        @* <div asp-validation-summary="All"></div>*@

                        @if (User.IsInRole(ApplicationRoles.Role_Admin))
                        {
                            <div class="py-2 col-12">
                                <label asp-for="MessageID" class="ms-2">Choose Message Type</label>
                                @Html.DropDownListFor(model => model.Type, Enum.GetValues(typeof(Ordersystem.DataObjects.MessageType)).Cast<Ordersystem.DataObjects.MessageType>().Select(e => new SelectListItem { Text = e.ToString(), Value = e.ToString(), Selected = Model.Type == e }), new { @class = "form-control" })
    
                                <span asp-validation-for="MessageID" class="text-danger"></span>
                            </div>
                        }

                        <div class="py-2 col-12">
                            <label asp-for="Title" class="ms-2"></label>
                            <input asp-for="Title" class="form-control" type="text" placeholder="Title input" />

                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Content" class="ms-2"></label>
                            <textarea asp-for="Content" class="form-control border-0"></textarea>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">

                                @if (Model.MessageID != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create </button>
                                }

                            </div>
                            <div class="col-6 col-md-4">
                                <a asp-controller="Message" asp-action="Index" class="btn btn-outline-primary border form-control">
                                    Back to the message board
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
