@model Ordersystem.DataObjects.Order

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-black py-2">Delete Order</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="OrderID" hidden />
            <div class="border p-3 mt-4">
                <div class="py-2 col-12">
                    <label asp-for="OrderDate" class="ms-2"></label>
                    <input asp-for="OrderDate" disabled class="form-control border-0" value="@Model.OrderDate.ToString("yyyy-MM-dd HH:mm:ss")" />
                </div>

                <div class="py-2 col-12">
                    <label asp-for="OrderCount" class="ms-2"></label>
                    <input asp-for="OrderCount" disabled class="form-control border-0" />
                </div>
               
                <div class="py-2 col-12">
                    <label asp-for="OrderStatus" class="ms-2"></label>
                    <div>
                        <input type="radio" disabled asp-for="OrderStatus" value="true" /> Yes
                        <input type="radio" disabled asp-for="OrderStatus" value="false" /> No
                    </div>
                </div>
                <div class="py-2 col-12">
                    <label asp-for="PaymentStatus" class="ms-2"></label>
                    <div>
                        <input type="radio" disabled asp-for="PaymentStatus" value="true" /> Yes
                        <input type="radio" disabled asp-for="PaymentStatus" value="false" /> No
                    </div>
                </div>
               
                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Order" asp-action="Index" class="btn btn-outline-secondary border form-control">
                            Back to the list
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

