@model Ordersystem.DataObjects.Order

<div class="card border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-black py-2">@(Model.OrderID != 0 ? "Update" : "Create") Order</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="@Model.OrderID" hidden />
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">
                        <div class="py-2 col-12">
                            <label asp-for="OrderDate" class="ms-2"></label>
                            <input asp-for="OrderDate" disabled class="form-control border-0" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" />

                            <span asp-validation-for="OrderDate" class="text-danger"></span>
                        </div>

                        <div class="py-2 col-12">
                            <label asp-for="OrderCount" class="ms-2"></label>
                            <input asp-for="OrderCount" class="form-control" type="text" placeholder="Title input" />

                            <span asp-validation-for="OrderCount" class="text-danger"></span>
                        </div>

                        <div class="py-2 col-12">
                            <label asp-for="OrderStatus" class="ms-2"></label><br>
                            <input type="radio" asp-for="OrderStatus" value="true" /> Yes
                            <input type="radio" asp-for="OrderStatus" value="false" /> No

                            <span asp-validation-for="OrderStatus" class="text-danger"></span>
                        </div>

                        <div class="py-2 col-12">
                            <label asp-for="PaymentStatus" class="ms-2"></label><br>
                            <input type="radio" asp-for="PaymentStatus" value="true" /> Yes
                            <input type="radio" asp-for="PaymentStatus" value="false" /> No

                            <span asp-validation-for="PaymentStatus" class="text-danger"></span>
                        </div>

                        <div class="row pt-2">
                            <div class="col-6 col-md-3">

                                @if (Model.OrderID != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create </button>
                                }

                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Order" asp-action="Index" class="btn btn-outline-primary border form-control">
                                    Back to the list
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>